<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
</head>
<body>
    <table>
        <tr>
            <th colspan="4">Super Ofertas</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><img src="../images/antivirus.jpg" alt="pc"><br>
                <p>Kaspersky Anti-Virus 2019, 10 PCs, 1 Año.</p>
                <p>$749.00</p></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>
