<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
</head>
<body>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <img src="/img/productto23.webp"><br>
                <p> Unidad de estado sólido XPG GAMMING S5<br>S5 de 512, M.2 PCle NVme</p>
                <p>Precio $1199.00</p>
            </td>

        </tr>
    </table>

</body>
</html>

            <td>
                <img src="/img/producto1.jpg"><br>
                <p>Regulad&oacute;r &ntilde; Koblenz RS-1410 de 1410 VA / 700W con 8 contactos.</p>
                <p>$699.00 $599.00</p>
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>
</body>
</html>
