body{
    color:green;
}
td > p{
    font-style: italic;
}
td > p::first-letter {
    font-weight: bolder;
}
td{
    width: 200px;
    border-style: solid;
    text-align: center;
}
tr:nth-child(odd)
{
    background-color: chartreuse;
}
tr:nth-child(even)
{
    background-color: purple;
}
td:hover{
    background-color: blue;
}
#precio{
    text-decoration: line-through;
}
.productos td img{
    width: 100px;
}
